@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');

body{
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

header{
  padding: 20px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Dancing Script', cursive;
  text-align: left;
  padding: 30px;
  text-shadow: 1px 2px gray;
  font-size: 30px;
  color: whitesmoke;
}

form{
  padding-left: 30px;
}

label, input{
  display: block;
  margin-top: 10px;
}

label{
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  color: white;
  display: inline;
}

.titulo{
  font-size: 22px;
}

.paises{
  height: 22px;
  font-family: 'Edu SA Beginner';
}

form input{
  width: 210px;
  height: 30px;
  border-radius: 10px;
  border: 5px ridge rosybrown;
  background-color: lightgray;
  font-family: 'Edu SA Beginner';
}

input[type="radio"]{
    accent-color: rosybrown;
    background-color: lightgray;
}

input[type="checkbox"]{
  accent-color: rosybrown;
  background-color: lightgray;
}

#paises{
  font-family: "Edu SA Beginner";
  font-size: 16px;
  border: 5px ridge rosybrown;
  background-color: lightgray;
  border-radius: 10px;
  height: 45px;
}

textarea{
    resize: none;
    width: 50%;
    height: 150px;
    padding: 10px;
    text-align: center;
    font-family: "Edu SA Beginner";
    font-size: 16px;
    border: 5px ridge rosybrown;
    background-color: lightgray;
    border-radius: 10px;
}

footer{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  background-color: black;
  font-size: 15px;
  color: white;
  font-family: 'Edu SA Beginner', cursive;
  text-align: center;
  position: 0;
}