@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  height: 100%;
  width: 100%;
}
body{
  font-family: "Indie Flower";
  margin: 0;
}
/*Estitlo del navegador*/

a{
  text-decoration: none;
  color: black;
}
header{
  display: flex;
  min-height: 70px;
  background-color: #F5B7B1;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
  display: flex;
}
.logo img{
  height: 100px;
  margin-right: 10px;
}
nav a{
  font-weight: 600;
  padding-right: 10px;
}
nav a:hover{
  color: white;
}

/*Estitlo del carrucel*/
.carrousel{
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  border-radius: 2px;
  box-shadow: 0 0 10px #C7C8CC;
  scroll-behavior: smooth;
}

.carrusel img{
  width: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  padding-right: 10px;
  scroll-snap-align: center;
}

footer{
  display: flex;
  min-height: 70px;
  background-color: #C2185B;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media (min-width:700px){
  body{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  nav{
    display: flex;
  }
}